[general]
apiurl = https://api.opensuse.org

[api]
email = sgw@linux.intel.com

[https://api.opensuse.org]
user = saulwold
pass = {{ osc_key_key }}
email = sgw@linux.intel.com
trusted_prj=openSUSE:Leap:15.0 SUSE:SLE-12-SP4:GA Cloud:OpenStack:Stein devel:kubic openSUSE:Leap:15.1

